@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Quicksand:500,600,700);
@import url("fonts.css");
@import url("reset.css");
body{
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 3px;
    line-height:25px;
}
   .header>p{
    font-family:"Kalam" ;
    font-weight: 400;
       font-size: 24px;
       line-height: 30px;
       text-decoration: underline wavy 3px purple;
       text-align: center;
   }
.title{
    font-family:"Kalam" ;
    font-weight: 700;
    font-size: 42px;
    font-weight: bold;
    color: red;
    text-align: center;
}
.title+p{
    text-align: right;
    color: olive;
}
.list>li{
   font-family: "Quicksand";
    text-align: left;
    color:red;
    text-shadow: 2px 2px 3px rosybrown;
}
.second-subtitle,
.third-subtitle,
.fifth-subtitle{
    letter-spacing: 12px;
    color: green;
    font-weight: bolder;
    font-style: italic;
    text-transform: capitalize;
}
.fourth-subtitle,
.sixth-subtitle{
    text-transform: uppercase;
    text-decoration: underline;
    font-style: italic;
    color: orange;
    text-shadow: 3px 3px 4px violet;
}
.meditation-subtitle,
.aromatherapy-subtitle{
    text-transform: uppercase;
    text-decoration: line-through;
    color: brown;
}
.activity>p{
    font-weight: bold;
    color: violet;
    white-space: nowrap;
}
.meditation>p{
    font-weight: normal;
    color: goldenrod;
    text-shadow: 1px 2px 3px hotpink;
}
.aromatherapy>p{
    color: green;
    font-weight: bolder;
    text-decoration: overline;
}
.figma{
    color:#2b2929;
}
.decoration-subtitle,
.material-subtitle{
    font-family:'Proxima Nova Lt';
    font-weight: 600;
    font-size: 40px;
    line-height: 120%; 
}
.decorating,
.types,
.choice,
.material
p{
    font-family:'Proxima Nova Rg';
    font-weight: 400;
    font-size: 16px;
    line-height: 187%; 
}
.site
p{
    font-family:'Proxima Nova Lt';
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
}
.material-subtitle{
text-align: center;
}
.footer {
 color: orchid;
    text-transform: lowercase;
}

