@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url("fonts.css");
@import url("reset.css");

body {
    font-family: 'Roboto' sans-serif;
}

.header {
    background-color: papayawhip;
}

.header__transform {
    max-width: 1400px;
    margin: 0 auto;

}

.header__title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #2207ef;
    line-height: 50px;
    text-align: center;
    background-color: aquamarine;
    padding-top: 20px;
    padding-bottom: 30px;
}

.header__subtitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #ef073d;
    line-height: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.header__blocks {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #ef073d;
    line-height: 20px;
    text-align: center;
    background-color: rgb(14, 237, 148);
    margin: 50px 30px 30px 100px;
}

.header__block-one {
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: burlywood;
    border: 2px dashed darkred;
}

.header__block-one:hover {
    transform: translate(-10px, 30px);
}

.header__block-two {
    width: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: burlywood;
    border: 2px dashed darkred;
}

.header__block-two:hover {
    transform: translate(18%, 10%);
}

.header__block-three {
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: burlywood;
    border: 2px dashed darkred;
}

.header__block-three:hover {
    transform: translateX(20px);
}

.header__block-four {
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    transform: scale(1);
    background-color: burlywood;
    border: 2px dashed darkred;
}

.header__block-four:hover {
    transform: scale(0.5);
}

.header__block-five {
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: burlywood;
    border: 2px dashed darkred;
}

.header__block-five:hover {
    transform: scale(0.5, 0.8);
}

.header__block-six {
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: burlywood;
    border: 2px dashed darkred;
}

.header__block-six:hover {
    transform: scale(-1, 1);
}

.header__block-seven {
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: burlywood;
    border: 2px dashed darkred;
}

.header__block-seven:hover {
    transform: rotate(45deg);
}

.header__block-eight {
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: burlywood;
    border: 2px dashed darkred;

}

.header__block-eight:hover {
    transform: skew(10deg, 45deg);
}

.header__block-nine {
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: burlywood;
    border: 2px dashed darkred;

}

.header__block-nine:hover {
    transform: translate(10px, 5px) scale(0.8) rotate(360deg) skew(-45deg);
}

.header__block-ten {
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: burlywood;
    border: 2px dashed darkred;

}

.header__block-ten:hover {
    transform: rotate(45deg);
    transform-origin: top right;
}

.header__3dblocks {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #ef073d;
    line-height: 20px;
    text-align: center;
    background-color: rgb(176, 162, 201);
    margin: 50px 30px 30px 100px;
    perspective: 500px;
    transform-style: preserve-3d;
}

.header__block-3done {
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(122, 148, 199);
    border: 2px dashed darkred;
}

.header__block-3done:hover {
    transform: rotateX(45deg);
}

.header__block-3dtwo {
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(122, 148, 199);
    border: 2px dashed darkred;
}

.header__block-3dtwo:hover {
    transform: translate3d(20px, 10px, 30px);
}

.header__block-3dthree {
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(122, 148, 199);
    border: 2px dashed darkred;
}

.header__block-3dthree:hover {
    opacity: 1;
    transform: scale3d(2, 2, 5);
}


.header__block-3dfour {
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(122, 148, 199);
    border: 2px dashed darkred;

}

.header__block-3dfour:hover {
    transform: rotate3d(10, 20, 30, 65deg);
}

.header__block-3dfive {
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(122, 148, 199);
    border: 2px dashed darkred;
}

.header__block-3dfive:hover {
    transform: translate3d(20px, 30px, 20px) rotate3d(1, 1, 2, 45deg)
}

.header__block-3dsix {
    width: 200px;
    height: 200px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(122, 148, 199);
    border: 2px dashed darkred;
}

.header__block-3dsix:hover {
    backface-visibility: visible;
    transform: rotateY(45deg);
}

.card {
    margin: 0 auto;
}

.card__body {
    position: relative;
    width: 300px;
    perspective: 500px;
    margin: 0 auto;
}

.card__body img {
    width: 100%;
}

.card__back {
    position: absolute;
    top: 0;
    left: 0;
}

.card__front,
.card__back {
    transition: all 0.3s;
}

.card__front {
    backface-visibility: hidden;
    transform: rotateY(0deg);
}

.card__back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
}

.card__body:hover .card__front {
    transform: rotateY(-180deg);
}

.card__body:hover .card__back {
    transform: rotateY(0deg);
}



.car {
    background-image: url(../img/pngtree-cartoon-forest-fire-disaster-burning-image_1109040.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 800px;
    padding-left: 350px;
}

.car__body {
    width: 1200px;
    height: 1000px;
    display: inline-block;
}

.car__car-cab {
    width: 450px;
    height: 480px;
    display: inline-block;
    vertical-align: middle;
    background-color: crimson;
    color: transparent;
    border-radius: 10% 10% 0% 0%;
    border: 3px dashed brown;
    padding-top: 50px;
    padding-left: 60px;
    margin-right: -5px;
    position: relative;
}

.car__windows {
    width: 300px;
    height: 150px;
    display: inline-block;
    vertical-align: middle;
    margin: 30px 50px 10px 5px;

}

.car__window-first {
    width: 130px;
    height: 150px;
    background-image: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(41, 101, 172, 0.7175463935574229) 100%);
    border-radius: 10px;
    outline: 5px dashed black;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 20px;
}

.car__window-second {
    width: 136px;
    height: 150px;
    background-image: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(41, 101, 172, 0.7175463935574229) 100%);
    border-radius: 10px;
    outline: 5px dashed black;
    display: inline-block;
    vertical-align: middle;
}

.car__tube-first img {
    width: 280px;
    height: 200px;
    margin-left: 25px;
    margin-bottom: 40px;
}

.car__tube-second {
    width: 40px;
    height: 80px;
    background-color: black;
    position: absolute;
    top: -80px;
    left: 350px;
}

.car__tube-third {
    width: 200px;
    height: 250px;
    border-radius: 10% 0% 0 10%;
    background-color: crimson;
    border: 6px solid brown;
    position: absolute;
    bottom: 0px;
    left: -200px;
}

.car__tube-phara {
    margin-top: 10px;
    width: 50px;
    border-radius: 192px 91px 112px 87px;
    border: 49px groove hsl(48, 100%, 66%);
    transform: rotate(-45deg);

}

.car__car-trunk {
    width: 650px;
    height: 390px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 0% 10% 10% 0%;
    border: 6px solid brown;
    background-color: crimson;
    margin-top: 90px;
    background-image: url(../img/fire-hose-icon-flat-illustration-of-fire-hose-vector-icon-for-web-design_98402-29632.svg);
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: 130px 100px;
    box-shadow: -5px -4px 5px 10px rgb(128, 119, 0);
}

.car__car-ladder {
    width: 530px;
    height: 90px;
    display: inline-block;
    border-radius: 10% 10% 10% 10%;
    background-color: rgb(201, 25, 25);
    border-top: 8px solid rgb(24, 21, 21);
    border-bottom: 8px solid rgb(24, 21, 21);
    margin-top: 40px;
    margin-left: 60px;
    position: relative;
}

.car__car-step:nth-child(1) {
    width: 20px;
    height: 80px;
    background-color: rgb(1, 19, 16);
    position: absolute;
    bottom: 0px;
    right: 60px;
}

.car__car-step:nth-child(2) {
    width: 20px;
    height: 80px;
    background-color: rgb(1, 19, 16);
    position: absolute;
    bottom: 0px;
    right: 140px;
}

.car__car-step:nth-child(3) {
    width: 20px;
    height: 80px;
    background-color: rgb(1, 19, 16);
    position: absolute;
    bottom: 0px;
    right: 220px;
}

.car__car-step:nth-child(4) {
    width: 20px;
    height: 80px;
    background-color: rgb(1, 19, 16);
    position: absolute;
    bottom: 0px;
    right: 300px;
}

.car__car-step:nth-child(5) {
    width: 20px;
    height: 80px;
    background-color: rgb(1, 19, 16);
    position: absolute;
    bottom: 0px;
    right: 380px;
}

.car__car-step:nth-child(6) {
    width: 20px;
    height: 80px;
    background-color: rgb(1, 19, 16);
    position: absolute;
    bottom: 0px;
    right: 460px;
}

.car__car-grenadeblock {
    width: 100%;
    display: inline-block;
}

.car__car-grenadedelta {
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    border-left: solid 150px transparent;
    border-right: solid 150px transparent;
    border-top: solid 150px rgb(149, 14, 14);
    transform: rotate(15deg);
    margin-top: -1980px;
    margin-left: 550px;
}

.car__car-grenadeblock .car__car-ladder {
    width: 900px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2210px;
    margin-left: 250px;
    transform: rotate(15deg);
    background-color: rgb(179, 175, 175);
}

.car__car-step:nth-child(7) {
    width: 20px;
    height: 80px;
    background-color: rgb(1, 19, 16);
    position: absolute;
    bottom: 0px;
    right: 540px;
}

.car__car-step:nth-child(8) {
    width: 20px;
    height: 80px;
    background-color: rgb(1, 19, 16);
    position: absolute;
    bottom: 0px;
    right: 620px;
}

.car__car-step:nth-child(9) {
    width: 20px;
    height: 80px;
    background-color: rgb(1, 19, 16);
    position: absolute;
    bottom: 0px;
    right: 700px;
}

.car__car-step:nth-child(10) {
    width: 20px;
    height: 80px;
    background-color: rgb(1, 19, 16);
    position: absolute;
    bottom: 0px;
    right: 790px;
}

.car__car-wheel {
    width: 200px;
    height: 200px;
    background-color: rgb(156, 152, 152);
    border-radius: 50%;
    border: 5px dashed rgb(11, 0, 0);
    display: inline-block;
    vertical-align: middle;
    margin-top: -930px;
    margin-bottom: 60px;
    position: relative;
    z-index: 2;
}

.car__car-wheel:first-child {
    margin-left: -25px;
    margin-right: 580px;
    margin-bottom: 60px;
    position: relative;
    z-index: 2;
}

.car__car-wheel img {
    width: 190px;
    margin-bottom: -30px;
}

.footer-end {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #2207ef;
    line-height: 50px;
    text-align: center;
    background-color: aquamarine;
}